* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* full container styles */
.container {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* login container styles */
.login-container {
  width: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.login-container h2 {
  color: #9980fa;
  font-weight: 600;
  font-size: 22px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-bottom: 3px solid #ccc;
}

.form-group input::placeholder {
  color: #ccc;
}

.form-group input:hover {
  border-bottom: 3px solid #b39ddb;
  color: #b39ddb;
}

.form-group input:focus {
  outline: none;
}

.form-checkbox-group {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}
.form-checkbox-group input {
  height: 16px;
  width: 16px;
}

.form-actions, .welcome-text, .signup-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-actions a {
  color: #9980fa;
  text-decoration: none;
  font-size: 16px;
}

.form-actions a:hover {
  text-decoration: underline;
  color: #7d5de8;
}

.signin-btn {
  width: 100%;
  padding: 10px 0;
  background-color: #9980fa;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.signin-btn:hover {
  background-color: #7d5de8;
}

/* signup container styles */
.signup-container {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: #5758bb;
  color: white;
}

.welcome-text h2 {
  font-size: 38px;
  font-weight: 600;
}

.welcome-text p, .signup-action p{
  font-size: 18px;
}

.signup-btn {
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: white;
  color: #5758bb;
}